beautifulsoup4==4.12.3
celery==5.3.4
fastapi==0.115.8
httpx==0.28.1
meilisearch==0.31.0
pip-audit==2.10.1
prometheus-client==0.26.0
psycopg2-binary==2.9.10
rapidfuzz==3.14.3
redis==5.0.1
sqlalchemy==2.0.38
uvicorn==0.34.0
